@import "normalize";
@import "layout";

$primary-font: "Lato", sans-serif;
$heading-font: "Raleway", sans-serif;

@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700|Raleway:400,700');

body{
	font: 400 16px/1.5 "Lato", sans-serif;
}



/* Layout */
.ba-container {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1170px;
}



/* Typography */
h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
	text-align: center;
}
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	border-width: 3px;
	border-color:  #222222;
	border-style: solid;
	width: 364px;
	height: 54px;
	font-family: $primary-font;
	color:  #222222;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	background: #FFF;
	text-align: center;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	background: #034A6A;
	color: #fff;
}
input {
	border: none;
	border-bottom: 1px solid #afafaf;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	outline: none;
	display: block;
	color: #676767;
	background: none;
	border: none;
	border-bottom: 1px solid currentColor;
	width: 100%;
		&:placeholder{
		color: currentColor;
	}

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {
	border: none;
	border-bottom: 1px solid #afafaf;
}

.ba-header {
	background: #02496A url("../img/firstbg.jpg") 50% no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;
}
.ba-agency{
	padding: 50px;
}
.ba-logo {
	float: left;
}

.ba-menu {
	list-style: none;
	padding: 0;
	float: right;
    line-height: 2px;
    text-transform: uppercase;
	a {
	font-family: $primary-font;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	margin-right: 45px;
	}
	a:hover {
	color: #07A8F2;
	}
	li {
	float: left;
	}
}
.ba-creative {
	margin: 240px;
}
.ba-pages-title {
	font-family: $heading-font;
	color:  #ffffff;
	font-size: 48px;
	font-weight: 700;

}
.ba-subtitles {
	font-family: $primary-font;
	color:  #fffefe;
	font-size: 22px;
	font-weight: 400;
}

.ba-scroll {
	width: 92px;
	height: 92px;
	&:hover{
		opacity: .5;
	}
}
.ba-ourservices {
	padding: 100px 0 60px;
	h2 {
	font-family: $heading-font;
	color:  #222222;
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 80px;
	}
	h2:after {
	content: "";
	background-color:  #222222;
	width: 86px;
	height: 2px;
	}
}
.ba-title{
	font-family: Raleway;
	color:  #ffffff;
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	position: relative;
	&:before{
	content: "";
    display: block;
    width: 85px;
    height: 2px;
    position: absolute;
    left: calc(50% - 40px);
    top: 150%;
    background-color: #fff;
	}
}
.ba-title--black {
	color:#111;
	&:before{
	content: "";
    display: block;
    width: 85px;
    height: 2px;
    position: absolute;
    left: calc(50% - 40px);
    top: 150%;
    background-color: #111;
	}
}
.ba-services__title{
	font-size: 35px;
    margin-bottom: 80px;
    font-weight: 700;
}

.ba-row {
	text-align: center;
	font-family: $primary-font;
	color:  #222222;
	font-size: 24px;
	font-weight: 400;
	padding-bottom: 119px;
	p {
	font-family: $primary-font;
	color:  #222222;
	font-size: 16px;
	font-weight: 400;
	}
}

.ba-app-design {
	display: inline-block;
	width: 33%;
}
.ba-responsive {
	display: inline-block;
	width: 33%;
}
.ba-pixel-perfect {
	display: inline-block;
	width: 33%;
}

.ba-phone {
	background: #414141 url("../img/secondbg.jpg") 50% no-repeat;
	background-size: cover;
	padding-bottom: 115px;
	position: relative;
}
.ba-content {
	margin-top: 173px;
	h3 {
	font-family: $primary-font;
	color:  #ffffff;
	font-size: 45px;
	font-weight: 400;
	}
	p {
	font-family: $primary-font;
	color:  #ffffff;
	font-size: 22px;
	font-weight: 100;
	}
	a {
	font-family: Lato;
	color:  #ffffff;
	font-size: 18px;
	font-weight: 400;
	}
}
.ba-image{
	position: absolute;
    bottom: 0;
    right: 20%;
}

.ba-work{
	padding: 100px 0 80px;
	text-align: center;
	&__title{
		font-size: 35px;
		margin-bottom: 90px;
	}
	img{
		display: block;
		max-width: 100%;
	}
	.ba-button{
		margin-top: 79px;
	}
	&__img{
		display: inline-block;
		overflow: hidden;
		position: relative;
		color: #FFF;
		&:hover{
			.ba-work__overlay{
				opacity: 0.9;
				transition: opacity .3s ease-in;
			}
		}
	}
	&__overlay{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #404040;
		opacity: 0.0;
		transition: opacity .3s ease-in;
		h3{
			margin-top: 170px;
			font-size: 22px;
			&:after{
				content: url("../img/link.svg");
				display: block;
				margin-top: 40px;
			}
		}
	}
}

.ba-touch {
	background: #0D1112 url("../img/thirtbg.jpg") 50% no-repeat;
	background-size: cover;
	h3 {
	font-family: $heading-font;
	color:  #ffffff;
	font-size: 35px;
	font-weight: 700;
	}
}


.ba-socials {
		a {
		display: inline-block;
		text-align: center;
		padding: 5px;
		color: #fff;
		&:hover {
			color: #009DF5;
		}
		svg {
			display: block;
			height: 20px;
			width: 20px;
			fill: white;
			text-align: center;
		}
	}
}

.ba-contact__form {
	color:  #676767;
	font-size: 18px;
	font-weight: 400;
}
.ba-name{
	    color: #676767;
    font-size: 18px;
    font-weight: 400;
}
.ba-email{
	    color: #676767;
    font-size: 18px;
    font-weight: 400;
}
.ba-contact {
	background: url("../img/thirtbg.jpg") no-repeat;
    background-size: cover;
    padding: 100px 0 125px;
}

.ba-socials {
	max-width: 250px;
	margin: auto;
	margin-bottom: 70px;
}
.ba-socials a {
	display: inline-block;
	height: 34px;
	width: 34px;
	border-radius: 50%;
	background-position: 50%;
	background-repeat: no-repeat;
	margin: 0 5px;
}

.ba-socials a:hover {
	opacity: .7;
}

.ba-icon-twitter {
	background-image: url("../img/twitter.svg");
}
.ba-icon-facebook {
	background-image: url("../img/fasebook.svg");
}
.ba-icon-link {
	background-image: url("../img/in.svg");
}
.ba-icon-v {
	background-image: url("../img/v.svg");
}
.ba-icon-be {
	background-image: url("../img/Be.svg");
}
.ba-contact-form {
	border-bottom: 2px solid #fff;
	background: rgba(1,1,1,1);
	margin-bottom: 50px;
}
.ba-contact__form {
	max-width: 670px;
	margin: auto;
}
.ba-contact__button {
	margin-top: 50px ;
	color:#fff;
	background-color: rgba(1,1,1,.2);
	border: 2px solid white;
	max-width: 177px;
	height: 54px;
}

